@using PostSearchPlatform.Models
@using Microsoft.AspNetCore.Components
@model Post

<div class="js-content-article bb bc-black-2">
    <div class="mb24" id="@Model.Id">
        <div class="d-flex mb12 mt24 d-flex ai-center">
            <img class="wmx1 flex--item bg-white mr12 bar-sm" width="48" height="48" role="presentation" alt="" asp-append-version="true" src="https://i.stack.imgur.com/bONZK.png">
            <div class="d-flex fd-column fl1 md:fd-column md:pt0 md:mb0">
                <p class="flex--item fs-body3 lh-xs fw-normal fc-black-700 mb2">@Model.Title</p>
                <p class="flex--item fs-body1 lh-xs fw-normal fc-black-500 m0 ta-left">@Model.CreatedDateFormatted</p>
            </div>
        </div>
        <p class="fc-black-800 mb12 js-description ws-pre-line">@Model.Description</p>
        <div class="s-card p0 bar-md bc-black-100 bg-black-025">
            <a asp-action="Click" asp-controller="Tracking" asp-route-id="@Model?.Id" asp-route-url="/Posts">
                <img class="w100 hmx2 js-image-url cf-logo bg-white" loading="lazy" asp-append-version="true" src="https://i.stack.imgur.com/JAV54.jpg" style="object-fit:cover; object-position:50% 50%;">
                <div class="m16 bg-black-025">
                    <h3 class="fs-body2 fw-bold fc-black-900 js-title">@Model.Title</h3>
                    <p class="flex--item fs-body1 lh-xs fw-normal fc-black-500 m0">@Model.Host</p>
                </div>
            </a> |
        </div>
    </div>
</div>
